body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #333;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

nav ul li a:hover {
  background-color: #575757;
}

main {
  padding: 20px;
}

.arc-button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  background-color: #1da1f2;
  color: white;
  border-radius: 25px; /* ここで円弧を作成 */
  font-weight: bold;
  margin-top: 20px;
}

.arc-button:hover {
  background-color: #0d8ddb;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.left-column {
    width: 30%;  /* 左側を30%に設定 */
}

.right-column {
    width: 70%;  /* 右側を70%に設定 */
}

  height: 300px;
  border: 1px solid #000;
}

.twitter-button {
  width: 18px;
  height: 18px;
}

.footer-center {
  text-align: center;
  background-color: #282c34;
  padding: 10px;
  border-top: 1px solid #ccc;
  color: white;
  display: flex; /* Flexboxを使う */
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: center; /* 水平方向の中央揃え（この場合、text-align: center; と同じ効果） */
  height: 20px; /* 必要に応じて高さを固定 */ 
}
.footer-center a,
.footer-center a:link,
.footer-center a:visited {
  color: inherit; /* 親要素の色を継承 */
  text-decoration: none; /* リンクの下線を取り除くオプション */
}

/* もしリンクの他のスタイルを設定したい場合は、ここで調整 */
.footer-center a:hover,
.footer-center a:active {
  /* 例えば、ホバー時のみ色を変更 */
  color: white;
}
